$primary: #215d91;
$secondary: lighten( $primary, 40% );
@import "bootstrap";

kbd {
  -moz-background-clip: border;
  -moz-background-inline-policy: continuous;
  -moz-background-origin: padding;
  background: #ffffff none repeat scroll 0 0;
  border: none;
  color: #000000;
  padding: 2px 1px;
  white-space: nowrap;
}

.long-payload {
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-overrides {
  table-layout: fixed;
  width: 100%;
  word-wrap: break-word;
}

.daily-determinations thead {  
  font-size: small;
  word-wrap: normal;
}

.daily-determinations tbody{  
  font-size: small;  
}

ul li.list-inline-item:after {
  content: "\2022";
  margin-left: 0.5rem
}

ul li.list-inline-item:last-child:after {
  content: "";
  color: $secondary;
}

/* css only accordion */
.accordion {
  overflow: hidden;
}

.accordion_panel {
  width: 100%;
  overflow: hidden;
  &-label {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    cursor: pointer;
    padding: .5em;
    background: $primary;
    color: white;
    border-bottom: 4px solid white;
    &:hover {
      background: $secondary;
    }
    &::after {
      content: "\276F";
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all .35s;
    }
  }
  &-content {
    max-height: 0;
    padding: 0 1em;
    transition: all .35s;
  }
}

.accordion input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.accordion input:checked {
  + .accordion_panel-label {
    &::after {
      transform: rotate(90deg);
    }
  }
  ~ .accordion_panel-content {
    /* "magic" number that is absurdly big to accomodate huge payloads */
    max-height: 1000000vh;
    padding: 1em;
  }
}