@import "bootstrap";

kbd {
  -moz-background-clip:border;
  -moz-background-inline-policy:continuous;
  -moz-background-origin:padding;
  background:#ffffff none repeat scroll 0 0;
  border:none;
  color:#000000;
  padding:2px 1px;
  white-space:nowrap;
}

.long-payload {
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}