<h1>Account Transfers To Enroll</h1>
<%= render partial: "date_range", locals: {start_on: @start_on, end_on: @end_on, session_name: "atp_"} %>
<table class="table table-striped table-responsive table-overrides" data-controller="inbound-transfers">
	<thead>
		<th>Transfer Status</th>
		<th>Creation Date</th>
		<th>Transfer ID</th>
		<th>Family HBX Id</th>
		<th>Application HBX Id</th>
		<th>Ingestion Status</th>
		<th>Origin</th>
		<th></th>
	</thead>
	<tbody>
		<% @transfers.each do |transfer| %>
			<%= render partial: "inbound_transfer_row", locals: { transfer: transfer } %>
		<% end %>
	</tbody>
</table>